@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model THFixit.Models.ModelView.ProfileView
<style>
    .form-group {
        clear: both;
        margin-bottom: 80px;
    }

    input.largerCheckbox {
        width: 20px;
        height: 20px;
    }

    .img-wrap {
        position: relative;
        display: inline-block;
        font-size: 0;
    }

        .img-wrap .close-x {
            position: absolute;
            top: 10px;
            right: 10px;
            z-index: 100;
            background-color: #ddd;
            padding: 5px 5px 5px;
            color: black;
            font-weight: bold;
            cursor: pointer;
            opacity: .2;
            text-align: center;
            font-size: 22px;
            line-height: 10px;
            border-radius: 10%;
        }

        .img-wrap:hover .close-x {
            opacity: 1;
        }

        .img-wrap .add-x {
            position: absolute;
            bottom: 10px;
            right: 10px;
            z-index: 100;
            background-color: #ddd;
            padding: 5px 5px 5px;
            color: black;
            font-weight: bold;
            cursor: pointer;
            opacity: .2;
            text-align: center;
            font-size: 22px;
            line-height: 10px;
            border-radius: 10%;
        }

        .img-wrap:hover .add-x {
            opacity: 1;
        }
</style>
<link rel="stylesheet" href="~/css/gallory/gallory.css">
<style>
    .gallery figure {
        flex-basis: unset;
    }

        .gallery figure img {
            width: unset;
            border-radius: 50%;
            max-height: 215px;
            max-width: 215px;
        }

    .veiw-figure {
        display: block;
        margin: 0 auto;
    }
</style>
<section class="content-header">
    <h1 id="title-content">
        Profile
    </h1>
</section>
<section class="content">
    <form enctype="multipart/form-data" id="create-form" method="post"> 
        <input type='file' id="imageAvatar" name="imageAvatar" style="display:none;" />
        <div id="box-req" class="box box-primary">
            <div class="box-body">
                <div class="timeline-body">
                    <div class="row">
                        <div class="gallery" style="text-align:center;">
                            <figure class="img-wrap veiw-figure">
                                <span class="close-x" data="1">
                                    <i class="fa fa-trash"></i>
                                </span>
                                <span class="add-x" v data="1">
                                    <i class="fa fa-plus"></i>
                                </span>
                                <img src="@Model.Image" class="img-avatar img-responsive" alt="" />
                                <figcaption>Avatar </figcaption>
                            </figure>
                        </div>
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="display:none;">
                            <symbol id="close" viewBox="0 0 18 18">
                                <path fill-rule="evenodd" clip-rule="evenodd" fill="#FFFFFF" d="M9,0.493C4.302,0.493,0.493,4.302,0.493,9S4.302,17.507,9,17.507
                                            S17.507,13.698,17.507,9S13.698,0.493,9,0.493z M12.491,11.491c0.292,0.296,0.292,0.773,0,1.068c-0.293,0.295-0.767,0.295-1.059,0
                                            l-2.435-2.457L6.564,12.56c-0.292,0.295-0.766,0.295-1.058,0c-0.292-0.295-0.292-0.772,0-1.068L7.94,9.035L5.435,6.507
                                            c-0.292-0.295-0.292-0.773,0-1.068c0.293-0.295,0.766-0.295,1.059,0l2.504,2.528l2.505-2.528c0.292-0.295,0.767-0.295,1.059,0
                                            s0.292,0.773,0,1.068l-2.505,2.528L12.491,11.491z" />
                            </symbol>
                        </svg>
                    </div>
                </div>
                <div class="row" id="progressPanel" style="text-align:center;display:none;">
                    <progress id="progressBar" value="10" max="100" style="width:300px; margin: 0 auto;"></progress>
                </div>
                <div class="row">
                    <div class="form-group req-box-form">
                        <div class="col-xs-12">
                            <label for="req-name">Full Name</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-file-text-o"></i>
                                </span>
                                <input asp-for="Name" class="form-control" autocomplete="off" placeholder="Name" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group req-box-form">
                        <div class="col-xs-12">
                            <label for="req-name">Username</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-file-text-o"></i>
                                </span>
                                <input asp-for="Username" readonly class="form-control" autocomplete="off" placeholder="Username" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group req-box-form">
                        <div class="col-xs-6">
                            <label for="req-name">Branch/Site</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-file-text-o"></i>
                                </span>
                                <select asp-for="BranchId" disabled asp-items="Model.Branch" readonly class="form-control" autocomplete="off"></select>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <label for="req-name">Department</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-file-text-o"></i>
                                </span>
                                <select asp-for="DepartId" disabled asp-items="Model.Depart" readonly class="form-control" autocomplete="off"></select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group req-box-form">
                        <div class="col-xs-6">
                            <label for="req-name">Building</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-file-text-o"></i>
                                </span>
                                <select asp-for="BuildingId" asp-items="Model.Building" class="form-control" autocomplete="off"></select>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <label for="req-name">Class</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-file-text-o"></i>
                                </span>
                                <select asp-for="ClassId" asp-items="Model.Class" class="form-control" autocomplete="off"></select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group req-box-form">
                        <div class="col-xs-6">
                            <label for="req-name">Room</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-file-text-o"></i>
                                </span>
                                <select asp-for="RoomId" asp-items="Model.Room" class="form-control" autocomplete="off"></select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group req-box-form">
                        <div class="col-xs-6">
                            <label for="req-name">Tel</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-file-text-o"></i>
                                </span>
                                <input asp-for="Tel" class="form-control"  autocomplete="off"  placeholder="Tel" />
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <label for="req-name">Email</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-file-text-o"></i>
                                </span>
                                <input asp-for="Email" class="form-control" autocomplete="off" placeholder="Email" /> 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-footer">

                    <button type="submit" class="btn btn-primary pull-right">Submit</button>
                    <a href="/User/ChangePass" class="btn btn-default pull-right" style="margin-right:5px;">Change password</a>
                </div>
            </div>
        </div>
    </form>
</section>
@section Scripts {
    <script>
        $('.img-wrap .close-x').on('click', function () {
            $('#deleteImage').val(1);
            $('.img-avatar').attr('src', '/image/avatar5.png')
            return false;
        });
        $('.img-wrap .add-x').on('click', function () {
            $("#imageAvatar").click();
            return false;
        });

        function readURL(input) {
            if (input.files && input.files[0]) {
                var extension = input.files[0].name.replace(/^.*\./, '');
                if ($.inArray(extension, ['gif', 'png', 'jpg', 'jpeg']) == -1) {
                    $(input).val('');
                    return;
                }
                var reader = new FileReader();
                reader.onload = function (e) {
                    //$('.img-avatar').attr('src', event.imagePath);
                    uploadFile();
                }
                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#imageAvatar").change(function () {
            readURL(this);
        });

        $('#BranchId,#DepartId,#BuildingId,#ClassId,#RoomId').select2({
            multiple: false,
            width: '100%'
        });   

        $('#BranchId').change(function () { 
            PopulateBuilding();
        });

        $('#BuildingId').change(function () {
            PopulateClass();
        });


        $('#ClassId').change(function () {
            PopulateRoom();
        });

        function PopulateBuilding() {
            var requestData = {
                Id: $('#BranchId').val()
            };
            $.ajax({
                url: '/Building/GetBuildingJSON',
                type: 'POST',
                data: JSON.stringify(requestData),
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                error: function (xhr) {
                    alert('Error: ' + xhr.statusText);
                },
                success: function (result) {
                    if (result.ok) {
                        $('#BuildingId').empty();
                        result.listData.forEach(function (el) {
                            $('#BuildingId').append(
                                `<option value="{0}" {1} >{2}</option>`.format([el.id, '', el.name])
                            );
                        });
                        PopulateClass();
                    }
                },
                async: true,
                processData: false
            });
        }

        function PopulateClass() {
            var requestData = {
                Id: $('#BuildingId').val()
            };
            $.ajax({
                url: '/Class/GetClassJSON',
                type: 'POST',
                data: JSON.stringify(requestData),
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                error: function (xhr) {
                    alert('Error: ' + xhr.statusText);
                },
                success: function (result) {
                    if (result.ok) {
                        $('#ClassId').empty();
                        result.listData.forEach(function (el) {
                            $('#ClassId').append(
                                `<option value="{0}" {1} >{2}</option>`.format([el.id, '', el.name])
                            );
                        });
                        PopulateRoom();
                    }
                },
                async: true,
                processData: false
            });
        }

        function PopulateRoom() {
            var requestData = {
                Id: $('#ClassId').val()
            };
            $.ajax({
                url: '/Room/GetRoomJSON',
                type: 'POST',
                data: JSON.stringify(requestData),
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                error: function (xhr) {
                    alert('Error: ' + xhr.statusText);
                },
                success: function (result) {
                    if (result.ok) {
                        $('#RoomId').empty();
                        result.listData.forEach(function (el) {
                            $('#RoomId').append(
                                `<option value="{0}" {1} >{2}</option>`.format([el.id, '', el.name])
                            );
                        });
                    }
                },
                async: true,
                processData: false
            });
        }

        function _(el) {
            return document.getElementById(el);
        }

        function uploadFile() {
            $('#progressPanel').show();
            var file = _("imageAvatar").files[0];
            var formdata = new FormData();
            formdata.append("imageAvatar", file);
            var ajax = new XMLHttpRequest();
            ajax.upload.addEventListener("progress", progressHandler, false);
            ajax.addEventListener("load", completeHandler, false);
            ajax.addEventListener("error", errorHandler, false);
            ajax.addEventListener("abort", abortHandler, false);
            ajax.open("POST", "/User/UploadAvatar");  
            ajax.send(formdata);
        }

        function progressHandler(event) {
            var percent = (event.loaded / event.total) * 100;
            _("progressBar").value = Math.round(percent); 
        }

        function completeHandler(event) {
            _("progressBar").value = 0;  
            $('#progressPanel').hide();
            if (event.currentTarget.status == 200) {
                var ret = JSON.parse(event.currentTarget.responseText ); 
                $('.img-avatar').attr('src', ret.imagePath);
                $('.user-image').attr('src', ret.imagePath);
                localStorage.setItem('avatar', ret.imagePath);
            }
        }

        function successHandler(event) {
            
        }

        function errorHandler(event) {
            _("progressBar").value = 0;  
            alert("Upload Failed");
            $('#progressPanel').hide();
        }

        function abortHandler(event) {
            _("progressBar").value = 0;  
            alert("Upload Aborted");
            $('#progressPanel').hide();
        }
        if ($('#BuildingId').val() == '') {
            PopulateBuilding();
         }
    </script>
}